<div style="text-align:center" [hidden]="showDates">
  <table style="text-align:center">
    <tr>
      <td>Start Month
        <select required (change)="onStartTimeChange($event.srcElement.value)">
          <option *ngFor="let p of months" [selected]="startMonth === p.val ">{{p.name}}</option>
        </select>
      </td>
      <td>
        Start Year
        <select required (change)="onStartYearChange($event.srcElement.value)">
          <option *ngFor="let y of years" [selected]="startYear === y ">{{y}}</option>
        </select>
      </td>

    </tr>
    <tr>
      <td>
        End Month
        <select required (change)="onEndTimeChange($event.srcElement.value)">
          <option *ngFor="let p of months" [selected]="endMonth === p.val ">{{p.name}}</option>
        </select>
      </td>
      <td>
        End Year
        <select required (change)="onYearEndChange($event.srcElement.value)">
          <option *ngFor="let y of years" [selected]="endYear === y ">{{y}}</option>
        </select>
      </td>
    </tr>
  </table>
</div>
