<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Welcome to {{ title }}!
  </h2>
  <ul style="list-style: none;">
    <li>
      <mat-form-field>
        <!-- [(value)]="selectedPlace" -->
        <mat-select placeholder="Pick a Location" (selectionChange)="placeChanged($event.value)">
          <mat-option value="UK">UK</mat-option>
          <mat-option value="England">England</mat-option>
          <mat-option value="Scotland">Scotland</mat-option>
          <mat-option value="Wales">Wales</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <!-- [(value)]="selectedMetric" -->
        <mat-select placeholder="Pick a Metric" (selectionChange)="metricChanged($event.value)">
          <mat-option value="Tmax">Max temperature</mat-option>
          <mat-option value="Tmin">Min temperature</mat-option>
          <mat-option value="Rainfall">Rainfall</mat-option>
        </mat-select>
      </mat-form-field>
    </li>
  </ul>
</div>
<div style="text-align:center">
  <app-kh-date-picker></app-kh-date-picker>
  <app-my-line-chart></app-my-line-chart>
</div>
<router-outlet></router-outlet>
